 
/* bg */

.main{
    background-image: url("https://images.unsplash.com/photo-1476169785137-3bfe32e30ee1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
    background-size: 100% 100%;
    font-family: 'IBM Plex Sans', sans-serif;
}

/* heading */
.heading-line{
    color:  rgb(116, 69, 6);
    padding: 5rem 10.5rem;
    padding-bottom: 1.5rem;
}

.heading-main{
    margin-bottom: 0.5rem;
    font-size: 3.2rem;
    font-family: 'Playfair Display', serif;
}
.heading-para{
    font-size: 1.5rem;
    font-family: 'Comfortaa', cursive;
}
/* drop button */
.drop{
    position: relative;
    width: 15rem;
    height: 15rem;
    box-shadow: inset 20px 20px 20px rgba(0, 0, 0, 0.05), 25px 35px 20px rgba(0, 0, 0, 0.05), 25px 30px 30px rgba(0, 0, 0, 0.05), inset -20px -20px 25px rgba(255,255,255,0.9);
    transition: 0.5s ease-in-out;
}

.drop{
    border-radius: 57% 43% 43% 57% / 43% 43% 57% 57%;
    margin-left: 15rem;
    margin-bottom: 0.7rem;
}

.drop:hover{
    border-radius: 50%;
}

.drop::before{
    content: '';
    position: absolute;
    top: 3rem;
    left: 3.5rem;
    width: 2rem;
    height: 2rem;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.drop::after{
    content: '';
    position: absolute;
    top: 5rem;
    left: 5.8rem;
    width: 1rem;
    height: 1rem;
    background: #fff;
    border-radius: 50%;
    opacity: 0.9;
}

.drop .content{
    color: #fff;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-top: 6.3rem;
    font-size: 1.4rem;
}

.drop .content p{
    margin-bottom: 0.3rem;
}

.drop .content .btn {
    border-radius: 5rem;
    background-color: rgb(230, 199, 175);
}
/* end */
.no-acc{
    padding-left: 13.5rem;
    font-size: 1.3rem;
    color:  rgb(42, 29, 13);
    padding-bottom: 5.3rem;
    font-weight: 600;
}

.no-acc .btn {
    border-radius: 5rem;
    background-color: rgb(230, 199, 175);
}